@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(26, 44, 56);
  --foreground: #171717;
  --text: #ffffff;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}